In [1]:
import pandas as pd

# Reading and saving the csv file to a variable.
df = pd.read_csv("./raw_listings.csv")

# Deleting unnecessary data.
df.drop(columns=["id", "name", "host_id", "host_name", "neighbourhood", "latitude", "longitude", "reviews_per_month", "calculated_host_listings_count", "number_of_reviews", "number_of_reviews_ltm", "license" ], inplace=True)
# Deleting rows that have invalid or null values.
df.dropna(axis=0, how="any", inplace=True)
# Deleting duplicate rows.
df.drop_duplicates(keep="first", inplace=True)

# Converting the last_review column to a suitable format so that we can filter it.
df["last_review"] = pd.to_datetime(df["last_review"])
# Filtering old rental houses that haven't been used in over a year.
df = df.loc[df["last_review"] > "2022-06-01"]

# Making the index of the data frame match the number of rows.
df.reset_index(drop=True, inplace=True)

# Creating a new csv file with the cleaned data.
df

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,last_review,availability_365
0,Manhattan,Entire home/apt,240,30,49,2022-06-21,325
1,Manhattan,Private room,120,5,22,2023-05-14,268
2,Brooklyn,Entire home/apt,276,21,3,2022-08-10,275
3,Manhattan,Entire home/apt,325,7,69,2023-04-28,38
4,Manhattan,Private room,68,2,589,2023-05-14,10
...,...,...,...,...,...,...,...
21933,Manhattan,Entire home/apt,169,30,1,2023-06-04,272
21934,Bronx,Private room,72,1,1,2023-05-28,350
21935,Queens,Private room,93,1,1,2023-06-02,363
21936,Queens,Entire home/apt,230,1,1,2023-06-01,362
21937,Brooklyn,Entire home/apt,177,2,1,2023-06-04,359